<a href="https://colab.research.google.com/github/r9007/python_training/blob/main/Day_14_functions_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

In [ ]:
# simple function

def fun():
  print("Hello world")
  print("welcome")


print("before function call")
fun()
print("after function call")

In [ ]:
# program to print the square of no
# without arguments , without return values
def square():
  x = int(input("enetr a no"))
  y = x**2
  print("square of",x,"is",y)

square()

In [ ]:
 #with arguments , with return values

def square(x):
    #y = x**2
    return x**2


x = int(input("enetr a no"))
res = square(x)
print(res)

In [ ]:
#with arguments , without return values
def square(x):
  y = x**2
  print("square of",x,"is",y)


x = int(input("enetr a no"))
square(x)

In [ ]:
#without args , with return values

def square():
  x = int(input("enetr a no"))
  y = x**2
  return y

res = square()
print(res)

In [ ]:
# return statement


def test(a,b,c,d):

  return a,b,c,d

x,y = test(10,20,30,40)[1:3]

print(x,y)
print(type(x))

In [ ]:
# return

def test1():
  l1 = [10,20,30,40]
  t1 = (60,70,80)
  return l1,t1

x = test1()
print(x)
print(type(x))

In [ ]:
def func1(a,b,c,d):
  return a,b,c,d

 = func1(10,20,30,40)
print(a,a)

In [ ]:
_ = 10
print(_)

In [ ]:
#day 13

# function calling another fn

def test1():
  print("i am insude test1")
  test2() # fn call
  print("i am back to test1")

def test2():
  print(" I am in test2")
  print("going back")

test1()  # fn call
print("end of program")

In [ ]:
# LOcal Variable- lifetime

def test():
  x=10
  x=x+1
  print(x)

test()
test()
test()

In [ ]:
# LOcal Variable- scope

def test():
  x=10
  x=x+1
  print(x)

test()
#print(x) error
test()
test()

In [ ]:
# global variable

n =10

def fun():
  print(n)

fun()
print(n)

In [ ]:
# global variable

n =10

def fun():
  n=5   # local varibale
  print(n)

fun()
print(n)

In [ ]:
# global variable

n =10

def fun():
  global n # global keyword
  n=n+1
  print(n)

def test():
  global n
  n= n+1
  print(n)


fun()
test()
print(n)

In [ ]:
# Function is also an object

def test():
  print("hello wrold")

i =10
print(type(i))

print(type(test))
print(test)

In [ ]:
def multiplier_factory(factor):

  def multiplier(number):

    return number * factor

  # Return the nested function
  return multiplier  # returning the inner function

# Create a function that multiplies by 5
multiply_by_5 = multiplier_factory(5)

# Create a function that multiplies by 10
multiply_by_10 = multiplier_factory(10)

# Use the created functions
result1 = multiply_by_5(8)
result2 = multiply_by_10(4)

print(f"8 multiplied by 5 is: {result1}")  # Output: 8 multiplied by 5 is: 40
print(f"4 multiplied by 10 is: {result2}") # Output: 4 multiplied by 10 is: 40

In [ ]:
# alias name for a function

def test1():
  print("hello")

a = test1

a()

In [ ]:
# positional args or required ars

def test(name, age, city):
  print("my name is ", name , " and my age is ", age," and basically from",city)


test("Ram",25,"Delhi",)

In [ ]:
# keyword args

def test(name, age, city):
  print("my name is ", name , " and my age is ", age," and basically from",city)


test(age =25 , name ="Ram",city ="Delhi",)

In [ ]:
# keyword args and positional args

def test(name, current_city,city,age):
  print("my name is ", name , " and my age is ", age," and basically from",city,"but currently i live in",current_city)


test("ram","delhi",age = 25, city="Blr")

# positional args ----> keyword args
# keyword args should follow positional ars ,

In [ ]:
# default arguments

def student(name , age , m1,m2,m3 ,college="UVCE"):

  print(name,age, m1,m2,m3,college)


student("John",25,90,80,70)
student("Rose",21,91,86,75,"SSEC")

John 25 90 80 70 UVCE
Rose 21 91 86 75 SSEC

In [ ]:
# positional agrs ----> keyword args -----> Default args

def student(name , age , m1,m2,m3,college="UVCE"):

  print(name,age, m1,m2,m3,college)


student("John",age=21,m1=25,m2=90,m3=80, college= "SS")
student("Rose",21,91,86,75)

In [ ]:
# variable length args
def fun(*a):
  print(a)
  print(type(a))

fun(1,2)
fun(1,2,3)
fun(1,2,3,4)

(1, 2)
<class 'tuple'>
(1, 2, 3)
<class 'tuple'>
(1, 2, 3, 4)
<class 'tuple'>

In [ ]:
# variable length positional args
def sum(*a):

  s = 0
  for i in a:
    s = s+i
  print(s)

sum(1,2)
sum(1,2,3)
sum(1,2,3,4)

In [ ]:
# variable length keyword args

def addition(**a):

  s=0
  for n in a.values():
    s= s+n
  print(s)

addition(a=10,b=20)  # values are packed as a dict
addition(a=22,b=33,c=44)

In [ ]:
# variable length positional args and variable length keyword  args

def add(*num,**nums ):
  print(sum(num))
  print(sum(nums.values()))

add(10,20,30,40, n1=100,n2=200,n3=300)

100
600

In [ ]:
#variable length positional args , keyword ars, default agrs

def student(name,clas,*parents_name,age,school= "UVCE",**marks):
  print('Name: ',name)
  print('class: ',clas)
  print('Parents: ', parents_name)
  print('Age: ',age)
  print('Marks: ',marks)
  print('School: ',school)

student('Ravi',5,'A','B',age=12,eng=90,maths=87,science=91)

Name:  Ravi
class:  5
Parents:  ('A', 'B')
Age:  12
Marks:  {'eng': 90, 'maths': 87, 'science': 91}
School:  UVCE

In [ ]:
#lambda function return single value

var = lambda x,y,z : x+y+z
print(var(10,20,30))

60

In [ ]:
add =lambda x,y : [x+y , x-y]
print( type(add(2,3)))
print( add(2,3))

<class 'list'>
[5, -1]

In [ ]:
a= lambda: print("hello")
print(a())

hello
None

In [ ]:
# using default agrs
add = lambda x, y=1 : x+y

print(add(4))

5

In [ ]:
# using key word args
add = lambda x, y : x+y
print(add(x=5,y=6))

11

In [ ]:
# using var lenghth args
add = lambda *x: sum(x)
print(add(1,2,3,4,5))

15

In [ ]:
area = lambda r: 3.14*r*r
print(area(5))

78.5

In [ ]:
# class and Objects

class Calculator:
  n1=0    # attributes
  n2=0
  res = 0

  def __init__(self,n1,n2):  # methods
    self.n1=0
    self.n2=0
    self.res=0

  def add(self , n1,n2):
    pass

  def sub(self , n1,n2):
    pass

  def mul(self , n1,n2):
    pass

  def div(self , n1,n2):
    pass



ob1 = Calculator(10,20) # obj1 creation
ob2 = Calculator(100,200) # obj2 creation