In [ ]:
# Class definition- class Class_name:
class Calculator:

  # methods/behaviour

  def __init__(self):
    self.n1=0
    self.n2=0
    self.res=0

  def get_data(self):
    self.n1 = int(input('Enter a number: '))
    self.n2 = int(input('Enter a number: '))

  def add(self):
    self.res = self.n1+self.n2
    print(self.res)

  def sub(self):
    self.res = self.n1 - self.n2
    print(self.res)

  def mul(self):
    self.res = self.n1 * self.n2
    print(self.res)

  def div(self):
    self.res = self.n1 / self.n2
    print(self.res)

obj1 = Calculator()  # object creation
obj2 = Calculator()  # object creation

obj1.get_data()
obj2.get_data()

obj1.add()
obj1.sub()
obj1.mul()
obj1.div()

obj2.add()
obj2.sub()
obj2.mul()
obj2.div()

Enter a number: 13
Enter a number: 67
Enter a number: 88
Enter a number: 90
80
-54
871
0.19402985074626866
178
-2
7920
0.9777777777777777

In [1]:
class Student:

  student_count = 0 ## class variable
  college_name = 'IIT'

  def __init__(self,name,age,college_name = 'IIT'):
    self.name = name      ## instance variable
    self.age = age
    Student.student_count += 1
    self.college_name = college_name
    print(Student.student_count)

  def display(self):
    print(self.name,self.age, Student.college_name,self.college_name)

s1 = Student('A',20)
s1.display()
s2 = Student('B',19,'UVCE')
s2.display()
s3 = Student('C',19)
s3.display()

1
A 20 IIT IIT
2
B 19 IIT UVCE
3
C 19 IIT IIT